@page
@model ContosoUniversity.Web.Pages.Instructors.EditModel

@{
    ViewData["Title"] = $"Edit Instructor - {Model.Instructor.FirstMidName} {Model.Instructor.LastName}";
}

<h1>Edit Instructor&nbsp;<small class="text-body-secondary">@Model.Instructor.FirstMidName @Model.Instructor.LastName</small></h1>

<form method="post" class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Instructor.InstructorId" />
        <div class="mb-3">
            <label asp-for="Instructor.LastName" class="control-label"></label>
            <input asp-for="Instructor.LastName" class="form-control" />
            <span asp-validation-for="Instructor.LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Instructor.FirstMidName" class="control-label"></label>
            <input asp-for="Instructor.FirstMidName" class="form-control" />
            <span asp-validation-for="Instructor.FirstMidName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Instructor.HireDate" class="control-label"></label>
            <input asp-for="Instructor.HireDate" class="form-control" />
            <span asp-validation-for="Instructor.HireDate" class="text-danger"></span>
        </div>
        @if (Model.Instructor.OfficeAssignment != null)
        {
            <div class="mb-3">
                <label asp-for="Instructor.OfficeAssignment!.Location" class="control-label"></label>
                <input asp-for="Instructor.OfficeAssignment!.Location" class="form-control" />
                <span asp-validation-for="Instructor.OfficeAssignment!.Location" class="text-danger" />
            </div>
        }
        <div class="row mb-3">
            @{
                int count = 0;
            }
            @foreach (var course in Model.AssignedCourses)
            {
                <div class="col-4">
                    <div class="form-check">
                        <input type="checkbox" name="selectedCourses" id="selectedCourse-@(++count)" class="form-check-input" value="@course.CourseId" @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                        <label class="form-check-label" for="selectedCourse-@(count)">@course.CourseId : @course.Title</label>
                    </div>
                </div>
            }
        </div>
        <div class="mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
    
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
