@page
@model ContosoUniversity.Web.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = $"Department Details - {Model.Department.Name}";
}

<h1>Details&nbsp;<small class="text-body-secondary">@Model.Department.Name</small></h1>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Department.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department.Budget)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Department.Budget)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department.StartDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Department.StartDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department.RowVersion)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Department.RowVersion)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department.Administrator)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Department.Administrator.FirstMidName)
    </dd>
</dl>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Department.DepartmentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
